@using GiftSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@model GiftSystem.ViewModels.SendCreditsViewModel
@{
    this.ViewData["Title"] = "Transfer";
}

<div>
    <h4 align="center">You have @Model.Credits credits</h4>
</div>
<div class="text-center">
    <h2 align="center">Make new transfer</h2>
</div>
<form asp-controller="Transfers" asp-action="Index" method="post">
    <input type="hidden" asp-for="Sender" value="@this.User" />
    <div>
        <label asp-for="ReceiverPhoneNumber"></label>
        <textarea class="form-control" asp-for="ReceiverPhoneNumber"></textarea>
        <span asp-validation-for="ReceiverPhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Message"></label>
        <textarea class="form-control" asp-for="Message"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Credits"></label>
        <input asp-for="Credits" class="form-control" />
        <span asp-validation-for="Credits" class="text-danger"></span>
    </div>
    <hr />
    <div style="text-align:center;">
        <input type="submit" class="btn btn-primary btn-lg" />
    </div>
</form>